@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fuentes de letra
$fuente_principal: 'Lato', sans-serif;

//Tamaño de los Media Queries

$telefono: 320px;
$tablet:768px;
$desktop: 1024px;

//Paleta de Colores

$negro: #00000000;
$blanco:#ffffffff;
$amarillo: #E08709;
$verde: #71b100;
$gris: #e1e1e1;
$cafe: #614124;
$gris_oscuro: #333;
$gris_claro: #EEEDEB;
$rojo: #F95454;

$separacion: 5rem;

//Fuentes weight

$delgada: 300;
$regular:400;
$bold: 700;
$black: 900;