.footer{
    padding: calc(#{$separacion}/2) 0;
    background-color: $gris_oscuro;
    margin-bottom: 0;
    margin-top: 3rem;
    .contenido-footer{
        padding-top: calc(#{$separacion}/2);
    }
    .contenido-footer{
        padding-top: calc(#{$separacion}/2);
    }
    .copyright{
        color: $blanco;
        text-align: center;
    }
}
